<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/no-smoothie.png" alt="">
  </div>
  <div class="headings">
    <h3>Oops! looks like there is no smoothies for you</h3>
    <h3>Go back</h3>
    <a href="/" class="btn">Home</a>
  </div>
</header>

<%- include('partials/footer'); -%>