<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/coffee.png" alt="coffee">
  </div>
  <div class="headings">
    <h2>Coffee Recipes</h2>
    <h3>By Ninjas For Ninjas</h3>
    <a href="/coffee" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>